@keyframes appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.5);

  animation: appear 0.5s ease-in-out forwards;
}

.container {
  width: 50vw;
  height: 50vh;

  padding: 16px 24px;
  box-sizing: border-box;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border-radius: 8px;
  background-color: white;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.25);
}
